{% extends 'base.html' %}
{% block content %}
<h1>Asistencias</h1>
<a href="{% url 'academics:attendance_create' %}" class="btn btn-primary mb-3">Registrar asistencia</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Estudiante</th>
      <th>Curso</th>
      <th>Estado</th>
      <th>Notas</th>
    </tr>
  </thead>
  <tbody>
    {% for a in attendances %}
    <tr>
      <td>{{ a.date }}</td>
      <td>{{ a.student.get_full_name|default:a.student.username }}</td>
      <td>{{ a.course.name }}</td>
      <td>{{ a.get_status_display }}</td>
      <td>{{ a.notes }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No hay registros</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
