<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Estudify - Gestión Académica{% endblock %}</title>
    
    {% include 'components/head.html' %}
</head>
<body>
    <!-- Navigation -->
    {% include 'components/navbar.html' %}

    <!-- Messages -->
    {% include 'components/messages.html' %}

    <!-- Main Content -->
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'components/footer.html' %}

    <!-- Scripts -->
    {% include 'components/scripts.html' %}
</body>
</html>
